<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Default title</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
</head>
<body>
 <div class="topnav">
  <a class="active" href="{{ url_for('login_page') }}">Sign in</a>
  <a href="{{ url_for('register') }}">Sign up</a>
  <a href="{{ url_for('posts') }}">Posts</a>
  <a href="{{ url_for('index') }}">Main page</a>
  <a href="{{ url_for('logout') }}">Log out</a>
  {% if current_user.username %}
  <a href="{{ url_for('create_post') }}">Create post</a>
  <p>You are {{ current_user.username }}</p>
  {% else %}
  <p>Log in to create your posts</p>
  {% endif %}
</div>
{% block content %}
{% endblock %}
</body>
</html>